@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Lato&display=swap');
$primaryColor: #d65a31;
$secondaryColor: #222831;
$bgColor: #393e46;
$fontColor: #eeeeee;
$fontLato: 'Lato',
sans-serif;
$fontCodaCaption: 'Coda Caption',
sans-serif;